<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>전체화면리스트</title>
</head>
<body>
	<table border="1">
		<tr>
			<td>sampleId</td>
			<td>sampleName</td>
			<td>update</td>
			<td>delete</td>
		</tr>
		<tr th:each="l : ${list}">
			<td th:text="${l.sampleId}"></td>
			<td th:text="${l.sampleName}"></td>
			<!-- 수정,삭제 할수있는 a태그 작성 -->
			<td><a th:href="@{/updateSample(sampleid=${l.sampleId})}">수정</a></td>
			<td><a th:href="@{/deleteSample(sampleid=${l.sampleId})}">삭제</a></td>
		</tr>
	</table>

</body>
</html>