<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시판 삭제</title>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
	<h1>삭제 폼</h1>
	<form action="/boardDelete" method="post">
		<table id="customers">
			<tr>
				<td>boardNo :<input type="text" name="boardNo" th:value="${board.boardNo}"readonly></td>
			</tr>
			<tr>
				<td>boardPassword :<input type="text" name="boardPw"></td>
			</tr>
			<tr>
			<td><input type="submit" value="삭제"></td>
			</tr>
		</table>
	</form>
	<a th:href="@{/boardList}" ><button>돌아가기</button></a>
</body>
</html>